
module petition1 1.0;

require {
	type httpd_user_script_exec_t;
	type system_dbusd_var_run_t;
	type syslogd_var_run_t;
	type httpd_user_script_t;
	type abrt_etc_t;
	class sock_file write;
	class dir { write remove_name getattr add_name };
	class file { write create unlink append setattr };
}

#============= httpd_user_script_t ==============
allow httpd_user_script_t abrt_etc_t:dir getattr;
allow httpd_user_script_t httpd_user_script_exec_t:dir { write remove_name add_name };
allow httpd_user_script_t httpd_user_script_exec_t:file { write create unlink setattr append };
allow httpd_user_script_t syslogd_var_run_t:sock_file write;
allow httpd_user_script_t system_dbusd_var_run_t:sock_file write;
